<div id="keysmodal" class="modal">
  <p>Enter your Azure Speech API subscription key</p>
  <input type="text" placeholder="speech key" id="speechkey" />

  <br/>

  <p>Enter your Azure Text API subscription key</p>
  <input type="text" placeholder="text key" id="textkey" />

  <br/>

  <button class="modal-button" id="savekeys">Save</button>

</div>