<div id="scriptmodal" class="modal">
  <p>This is your what you've said so far and what mood is was ranked:</p>
  <ul class="scriptContent" id="scriptcontent">
  </ul>

  <button id="closescript">Close</button>
</div>