<div class="capture">
  <h1 class="small">Moodly</h1>

  <div class="reveiver">
  <span id="status" class="status">...</span>
  <span id="phrase" class="phrase"></span>
  </div>
</div>
<div class="canvas">
  <canvas id="canvas" class="art-canvas"></canvas>
  <div class="icons">
    <i title="keys" class="icon-settings icon" id="keys"></i>
    <i title="mic on" class="icon-mic icon" id="mic"></i>
    <i title="mic off" class="icon-mic-off icon" id="mic_off"></i>
    <i title="restart" class="icon-rotate-ccw icon" id="stop"></i>
    <br/>
    <i title="script" class="icon-message-square icon" id="script"></i>
    <a title="image" class="icon-image icon" id="image"></a>
  </div>
</div>

<%= erb :_keys, layout: false %>
<%= erb :_script, layout: false %>

<script type="text/javascript" src="js/lib/axios.min.js"></script>
<script type="text/javascript" src="js/lib/speech.sdk.bundle.js"></script>
<script type="text/javascript" src="js/models/recogniser.js"></script>
<script type="text/javascript" src="js/models/sentimenter.js"></script>
<script type="text/javascript" src="js/models/consoleListener.js"></script>
<script type="text/javascript" src="js/modals/keysModal.js"></script>
<script type="text/javascript" src="js/modals/scriptModal.js"></script>
<script type="text/javascript" src="js/art.js"></script>