  <div class="capture">
    <h1 class="small">Moodly</h1>

    <div class="reveiver">
    <span id="status" class="status">...</span>
    <span id="phrase" class="phrase"></span>
    </div>

    <div class="buttons">
      <button id="stop" class="small">Stop</button>
      <button class="small">Print</button>
    </div>
  </div>
  <div class="canvas">
    <canvas id="canvas" class="art-canvas"></canvas>
  </div>

  <script type="text/javascript" src="js/recogniser.js"></script>
  <script type="text/javascript" src="js/sentimenter.js"></script>
  <script type="text/javascript" src="js/axios.min.js"></script>
  <script type="text/javascript" src="js/art.js"></script>