<canvas id="start-canvas" class="start-canvas"></canvas>

<div class="start-container" style="display: none;">
  <div class="start">
    <h1>How this works...</h1>

    <p>You are about to try an experiment. An experiment where we can't predict the outcome</p>

    <p>Don't worry, it's super simple. All you need to do is click the button below and follow these three steps:</p>
    <ol>
      <li>Accept this website's request to use your microphone</li>
      <li>Close your eyes once you click the button (optional but kinda cool)</li>
      <li>Click the button</li>
      <li>
        Start talking about how you feel. How was your day? How are things going?
        Are they great? Are they not so great? Just talk.
      </li>
    </ol>

    <button>Start Experiment</button>
  </div>
</div>

<script type="text/javascript" src="js/start.js"></script>