<html>
  <head>
    <title>Mood Art</title>

    <link rel="stylesheet" href="css/modal.css" />
    <link rel="stylesheet" href="css/input.css" />
    <link rel="stylesheet" href="css/start.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/icomoon.css" />
    <link href="https://fonts.googleapis.com/css?family=Barlow|Oleo+Script+Swash+Caps" rel="stylesheet">
  </head>

  <body>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/models/conductor.js"></script>
    <script type="text/javascript" src="js/colours.js"></script>
    <script type="text/javascript" src="js/brushes/bars.js"></script>
    <script type="text/javascript" src="js/brushes/blanket.js"></script>
    <script type="text/javascript" src="js/brushes/brushHelper.js"></script>
    <script type="text/javascript" src="js/brushes/circles.js"></script>
    <script type="text/javascript" src="js/brushes/curveHelper.js"></script>
    <script type="text/javascript" src="js/brushes/curveBubble.js"></script>
    <script type="text/javascript" src="js/brushes/curveLine.js"></script>
    <script type="text/javascript" src="js/brushes/CurveNet.js"></script>
    <script type="text/javascript" src="js/brushes/CurveSpray.js"></script>
    <script type="text/javascript" src="js/brushes/CurveStar.js"></script>
    <script type="text/javascript" src="js/lib/curve_calc.min.js"></script>
    <%= yield %>
  </body>
</html>