<html>
  <head>
    <title>Mood Art</title>

    <link rel="stylesheet" href="css/start.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
  </head>

  <body>

    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/brushes/colours.js"></script>
    <script type="text/javascript" src="js/brushes/bars.js"></script>
    <script type="text/javascript" src="js/brushes/blanket.js"></script>
    <script type="text/javascript" src="js/brushes/curveBubble.js"></script>
    <script type="text/javascript" src="js/curve_calc.min.js"></script>
    <%= yield %>
  </body>
</html>