button, .button {
  font-size: 1rem;
  padding: 0 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: black;
  background-color: white;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 1000px;
  height: 3.5rem;
  line-height: 3.5rem;
  cursor: pointer;
}

input[type="text"] {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  min-width: 20rem;
  border-radius: 3px;
}