.start-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  width: 100%;
  max-width: 38rem;
  background-color: white;
  border-radius: 3px;
  border: 3px dashed slategray;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.start-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

h1 {
  margin: 0;
  padding: 0;
  color: slategrey;
}

h1, p {
  margin-bottom: 2rem;
}

li {
  margin-bottom: 1rem;
}

button {
  font-size: 1rem;
  padding: 1rem;
  color: white;
  background-color: slategrey;
  border-width: 1rem;
  border-top-color: slategrey;
  border-right-color: slategrey;
  border-left-color: darkslategrey;
  border-bottom-color: darkslategrey;
  cursor: pointer;

  display: block;
  margin: 1rem auto 0 auto;
}