.start-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.start-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 6rem;
  color: white;
  text-shadow: 4px 4px rgba(0,0,0,0.4);
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button, .button {
  font-size: 1rem;
  padding: 1rem 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: black;
  background-color: white;
  text-decoration: none;
  border: 0;
  border-radius: 1000px;
  cursor: pointer;
}